main .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 4rem;
  height: 100%;
  width: 100%;
}

main .title h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

main .infinite-scroll{
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}

main .infinite-scroll::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 7rem;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    z-index: 2;
}

main .infinite-scroll::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 7rem;
    background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    z-index: 2;
}

main .infinite-scroll .father{
    display: flex;
}

main .infinite-scroll .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: justify;
    animation: infinite-scroll 30s linear infinite;
}

main .infinite-scroll .container .card{
    margin: 0 5rem;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

main .infinite-scroll .n1,
main .infinite-scroll .n2 {
    position: absolute;
    background-color: white;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    z-index: 3;
}

main .infinite-scroll .n1 {
  left: 5rem;
}

main .infinite-scroll .n2 {
  right: 5rem;
  rotate: 180deg;
}

main .infinite-scroll > .n1 svg,
main .infinite-scroll > .n2 svg {
  width: 25px;
  height: 25px;
}
