.subTitulo{
  padding-bottom: 100px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

main section {
  width: 100%;
  min-height: 700px;
  display: flex;
}

main .main-banner {
  background-image: url("https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

main section .promt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 4rem;
  min-height: 700px;
  width: 40%;
  gap: 2rem;
}

main section .promt .options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 2rem;
  margin-top: 2rem;
}

/* START FIRST SECTION */

main .main-banner  {
  flex: 1;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/CentralMonitoreo.png);
}

main .main-banner .promt h1 {
  font-size: 3rem;
  color: whitesmoke;
}

main .main-banner .promt p {
  color: whitesmoke;
}

main .main-banner .promt .options button:nth-child(2) {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
}

/* END FIRST SECTION */

/* START SECOND SECTION */

main .benefits-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

main .benefits-section .promt {
  flex: 1;
}

main .benefits-section .promt h1 {
  font-size: 2.5rem;
  color: black;
}

main .benefits-section .promt p {
  font-size: 1rem;
  color: black;
}

main .benefits-section .promt .options {
  justify-content: space-around;
}

main .benefits-section .promt .options .n1,
main .benefits-section .promt .options .n2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .benefits-section .image {
  flex: 2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .benefits-section .image img {
  width: 100%;
  height: 100%;
  max-width: 526px;
  max-height: 360px;
}

/* END SECOND SECTION */

/* START THIRD SECTION */

main .services-section .promt,
main .testimonial-section .promt,
main .CTA-section .promt{
  padding: 0 2rem;
  flex: 1;
  text-align: center;
}

main .services-section .promt .sub_promt,
main .testimonial-section .promt .sub_promt,
main .CTA-section .promt .sub_promt{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main .services-section .promt h1,
main .testimonial-section .promt h1,
main .CTA-section .promt h1 {
  font-size: 2.5rem;
  color: black;
}

main .services-section .promt p,
main .testimonial-section .promt p,
main .CTA-section .promt  p{
  font-size: 1rem;
  color: black;
}


main .services-section .promt .elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4rem;
  margin-top: 2rem;
}

main .services-section .promt .elements .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  flex: 1;
}

main .services-section .promt .elements .item svg {
  width: 60px;
  height: 60px;
}

main .services-section .promt .elements .item h1,
main .services-section .promt .elements .item p{
  margin-top: 2rem;
}

main .services-section .promt .options {
  justify-content: center;
  gap: 2rem;
}

main .services-section .promt .options .n1,
main .services-section .promt .options .n2{
  flex: 1;
}

/* END THIRD SECTION */
/* START FOURTH SECTION */

main .testimonial-section .promt .n1,
main .testimonial-section .promt .n2 {
  position: absolute;
  background-color: white;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
  z-index: 3;
}

main .testimonial-section .promt .n1 {
  left: 5rem;
}

main .testimonial-section .promt .n2 {
  right: 5rem;
  rotate: 180deg;
}

main .testimonial-section .promt .n1 svg,
main .testimonial-section .promt .n2 svg {
  width: 25px;
  height: 25px;
}

/* END FOURTH SECTION */

main .CTA-section .promt .options {
  display: flex;
  justify-content: center;
}


/* BEGIN: Media Query for Big Screens */
@media screen and (max-width: 1024px) {
  main section .promt {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
  main section .promt .options {
    justify-content: center;
  }

  main .benefits-section {
    flex-direction: column;
  }
}

@media screen and (max-width: 720px) {

  .subTitulo{
    padding-top: 20px;
    padding-bottom: 0px;
  }

  main section:nth-child(n + 3) .promt .sub_promt {
    width: 90%;
  }

  main .testimonial-section .promt > .n1,
  main .testimonial-section .promt > .n2 {
    height: 40px;
    width: 40px;
  }
  main .testimonial-section .promt > .n1 {
    left: 1rem;
  }

  main .testimonial-section .promt > .n2 {
    right: 1rem;
    rotate: 180deg;
  }

  main .testimonial-section .promt > .n1 svg,
  main .testimonial-section .promt > .n2 svg {
    width: 15px;
    height: 15px;
  }

  main .services-section .promt .options {
    display: flex;
    flex-wrap: wrap;
  }
}
/* END: Media Query for Big Screens */
